* {
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
}

.insert {
    text-align: center;
    background: #F7F9FB;
    padding-top: 20px;
    padding-bottom: 30px;
}

.insert__title {
    color: #3e3e3e;
}

.insert__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insert__button {
    display: block;
    width: 350px;
    padding: 15px;
    background: #6666ff;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    margin-top: 10px;

    color: white;
    font-size: 25px;
    text-decoration: none;
}

.insert__button:hover {
    background: #e5f2f9;
    border: 1px solid #6666ff;

    color: #6666ff;
}

.insert__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insert__input {
    display: block;
    width: 350px;
    padding: 15px;
    background: #e5f2f9;
    border: 1px solid #6666ff;
    border-radius: 10px;
    user-select: none;
    margin-top: 10px;

    color: #3e3e3e;
    font-size: 25px;
    text-align: center;
    text-align-last: center;
}

.insert__label {
    margin-top: 10px;
    font-size: 20px;
    color: #3e3e3e;
}

.insert__errors ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.insert__errors li {
    padding: 5px;
    margin-left: 0;
    border: 2px solid red;
    width: 350px;
    background: pink;
    color: darkred;
    font-size: 25px;
}

.insert__errors li:not(:last-child) {
    margin-bottom: 5px;
}

.insert__success {
    background: lightgreen;
    border: 1px solid green;
    color: darkgreen;
    font-size: 25px;
    padding: 5px;
    margin-bottom: 5px;
}