{% extends 'admin/insert/insert.html.twig' %}

{% block title %}Добавление региона{% endblock %}

{% block body %}
<div class="insert">

    <h1 class="insert__title">Добавление региона</h1>

    {{ form_start(insert_region, { 'attr' : {'class' : 'insert__form'} }) }}

        {% for message in app.flashes('success') %}
            <div class="insert__success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="insert__errors">
            {{ form_errors(insert_region) }}
        </div>

        {{ form_label(insert_region.name, 'Название:', { 'label_attr' : {'class' : 'insert__label'} }) }}
        {{ form_widget(insert_region.name, { 'attr' : {'class' : 'insert__input'} }) }}

        <button type="submit" class="insert__button">Сохранить</button>

    {{ form_end(insert_region) }}

    <div class="insert__buttons">
        <a href="{{ path('insert') }}" class="insert__button">Назад</a>
    </div>
</div>
{% endblock %}
