{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('admin/insert/insert.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Работа с базой{% endblock %}

{% block body %}
    <div class="insert">
        <h1 class="insert__title">Что вы хотите добавить?</h1>

        <div class="insert__buttons">
            <a href="{{ path('region') }}" class="insert__button">Регион</a>
            <a href="{{ path('city') }}" class="insert__button">Город</a>
            <a href="{{ path('university') }}" class="insert__button">Университет</a>
            <a class="insert__button">Факультет</a>
            <a class="insert__button">Категорию</a>
            <a class="insert__button">Направление</a>
            <a class="insert__button">Баллы студента</a>
            <a class="insert__button">Экзамен</a>
        </div>
    </div>
{% endblock %}
