{% extends 'admin/insert/insert.html.twig' %}

{% block title %}Добавление университета{% endblock %}

{% block body %}
    <div class="insert">

        <h1 class="insert__title">Добавление университета</h1>

        {{ form_start(insert_university, { 'attr' : {'class' : 'insert__form'} }) }}

            {% for message in app.flashes('success') %}
                <div class="insert__success">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="insert__errors">
                {{ form_errors(insert_university) }}
            </div>

            {{ form_label(insert_university.region, 'Регион:', { 'label_attr' : {'class' : 'insert__label'} }) }}
            {{ form_widget(insert_university.region, { 'attr' : {'class' : 'insert__input'} }) }}

            {{ form_label(insert_university.city, 'Город:', { 'label_attr' : {'class' : 'insert__label'} }) }}
            {{ form_widget(insert_university.city, { 'attr' : {'class' : 'insert__input'} }) }}

            {{ form_label(insert_university.name, 'Название:', { 'label_attr' : {'class' : 'insert__label'} }) }}
            {{ form_widget(insert_university.name, { 'attr' : {'class' : 'insert__input'} }) }}

            <button type="submit" class="insert__button">Сохранить</button>

        {{ form_end(insert_university) }}

        <div class="insert__buttons">
            <a href="{{ path('insert') }}" class="insert__button">Назад</a>
        </div>
    </div>

    {%  block javascripts_footer %}
        {{ parent() }}
        <script>
            let $region = $('#insert_university_region');
            $region.change(function() {
                let $form = $(this).closest('form');
                let data = {};
                data[$region.attr('name')] = $region.val();
                $.ajax({
                    url : $form.attr('action'),
                    type: $form.attr('method'),
                    data : data,
                    success: function(html) {
                        $('#insert_university_city').replaceWith(
                            $(html).find('#insert_university_city')
                        );
                    }
                });
            });
        </script>
    {% endblock %}
{% endblock %}
