{% extends 'admin/insert/insert.html.twig' %}

{% block title %}Добавление города{% endblock %}

{% block body %}
<div class="insert">

    <h1 class="insert__title">Добавление города</h1>

    {{ form_start(insert_city, { 'attr' : {'class' : 'insert__form'} }) }}

        {% for message in app.flashes('success') %}
            <div class="insert__success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="insert__errors">
            {{ form_errors(insert_city) }}
        </div>

        {{ form_label(insert_city.region, 'Регион:', { 'label_attr' : {'class' : 'insert__label'} }) }}
        {{ form_widget(insert_city.region, { 'attr' : {'class' : 'insert__input'} }) }}

        {{ form_label(insert_city.name, 'Название:', { 'label_attr' : {'class' : 'insert__label'} }) }}
        {{ form_widget(insert_city.name, { 'attr' : {'class' : 'insert__input'} }) }}

        <button type="submit" class="insert__button">Сохранить</button>

    {{ form_end(insert_city) }}

    <div class="insert__buttons">
        <a href="{{ path('insert') }}" class="insert__button">Назад</a>
    </div>
</div>
{% endblock %}
