<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% block javascripts_footer %}
                <script src="{{ asset('jquery.js') }}"></script>
            {% endblock %}
        {% endblock %}
    </body>
</html>
